<div layout="column" ng-cloak="" class="inputdemoErrors" ng-app="MyApp">
  <md-content layout-padding="">
    <div class="container" layout="row" flex>
      <md-sidenav md-is-locked-open="true" class="md-primary" class="md-whiteframe-4dp">
      </md-sidenav>

      <md-content class="md-padding" flex>
          <button ui-sref="user"> Sign in</button>
          <button ui-sref="logIn"> Log In</button>
          
          <form name="projectForm" class="container md-pad padd" flex="50">
            <md-input-container md-padding="20px" class="md-block">
              <label>Username:</label>
              <input required="" name="clientName" ng-model="logInCtrl.name">
              <div ng-messages="projectForm.clientName.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>

            <md-input-container md-padding="20px" class="md-block" class="md-block md-default-theme md-input-invalid">
              <label> Password </label>
              <input ng-model="logInCtrl.password" type="password" name="password" required="" class="ng-pristine md-input ng-invalid ng-invalid-required ng-touched" id="input_1" tabindex="0" aria-required="true" aria-invalid="true">
              <div ng-messages="projectForm.clientName.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>

            <div>
              <md-button class="md-button" ng-click="logInCtrl.logIn()" type="submit">Sign In</md-button>
            </div>
          </form>
          </md-content>
        </div> 
      </md-content> 
</div>
<div ui-view></div>