body{
	background-color:#152d39;
}
h2{
	color:#152d39;
	font-size:30px;
	padding:1%;
	font-weight:bold;
}
p{
	color:#fff;
	font-weight:bold;
}
.inputdemoErrors .inputErrorsApp {
  min-height: 48px; }

.inputdemoErrors md-input-container > p {
  font-size: 0.8em;
  text-align: left;
  width: 100%; 
}
<md-datepicker input{
	color:#ffffff;
	font-size:20px;
}
md-input-container label{
	color:#ffffff;
	font-size:22px;
}
md-input-container input{
	color:#ffffff;
}
md-sidenav{
	background-color:#7cccc0;
	margin:0 auto;
}
md-content{
	background-color:#152d39;
}
button{
	color:#ffffff;
	background-color:transparent;
	border:2px solid #7cccc0;
	padding:5px 30px;
	margin:10px;
}
button:hover{
	background-color:#7cccc0;
}
.md-button{
	color:#152d39;
	padding:5px 30px;
	font-weight:bolder;
	background-color:#ffffff;
}
.md-pad{
	margin-left:30%;
	padding-bottom:3%;
}
.padd{
	padding-bottom:40px;
}



